* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 50px;
}

header {
  display: flex;
  align-items: center;
}

img {
  width: 200px;
}

#item-list img {
  width: 300px;
  height: 200px;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin: 0 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  text-align: center;
  border-top: 1px solid #000;
}

.resContainer {
  z-index: 500;
  height: 94vh;
  width: 96vw;
  background: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 3vh;
  left: 2vw;
  display: none;
}

.reservation {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 8rem;
}

.resClose {
  position: absolute;
  top: 1%;
  right: 1%;
  border-radius: 0;
  background-color: #fff;
  border: #fff;
  font-size: 3.5rem;
  font-weight: 700;
  width: 50px;
  cursor: pointer;
}

.resImg {
  min-width: 65%;
  max-height: 30%;
}

.resh1 {
  font-size: 3rem;
}

.resDetail {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 0.25rem;
}

.resList {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.resForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 65%;
  height: 30%;
}

.resInputWhole {
  width: 100%;
}

.resIn {
  width: 40%;
}

.resFormBtn {
  width: 40%;
  border-radius: 0;
  background-color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}

.appear {
  display: unset;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.f-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.likes {
  background-color: #fff;
  border: none;
}

.up {
  border: 0;
  background-color: #fff;
  cursor: pointer;
  color: green;
}
