* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 50px;
}


header {
  display: flex;
  align-items: center;
}

img {
  width: 100px;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin: 0 20px;
}

footer {
  align-items: center;
  text-align: center;
  border-top: 1px solid #000;
}

.container {
  z-index: 500;
  height: 94vh;
  width: 96vw;
  background : rgba(50,50,50,0.5);  
  position: absolute;
  top: 3vh;
  left: 2vw;
}

.reservation {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 8rem;
}

.resClose {
  position: absolute;
  top: 1%;
  right: 1%;
}

.resImg {
  width: 75%;
  height: auto;
}

.resh1 {
  font-size: 3rem;
}

.resDetail {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0.25rem;
}

.resList {
  
}
